.Page--Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--icons-cl);
  margin: 0 auto;
  max-width: 80%;
  padding: 0 1rem;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.About--tittle {
  color: var(--icons-cl);
}

.Menu--Button {
  color: var(--icons-cl);
}

.about--me--container {
  display: flex;
  flex-direction: column; 
  /* gap: 20px; */
  margin-top: 20px;
  align-items: center;
  width: fit-content;
}

.about--me--card {
  width: 100%;
}

.description--controller {
  line-height: 1.4;
  font-size: 1.4rem;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    line-height: 1.2;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }  
}

.about--me--card > hr {
  width: 40%;
}

.info--Controller {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-bottom: 20px;
  width: fit-content;
  justify-content: center;
}

.cards--and--button--controler {
  gap: 100px;
  line-height: 1.7;
  margin-bottom: 20px;
  width: 96%;
}

.cards--info {
  display: flex;
  flex-direction: row;
  gap: 120px;
  padding: 10px;
  justify-content: center;
}


.country--controller {
  padding-top: 20px;
}

.certificate--controller {
  display: flex;
  flex-direction: column;
}

.availability--controller {
  padding-top: 20px;
}

.button--controller {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.SoftSkills-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.softskills-heading {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 6px;
}

.list--controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  background: var(--menu-bg);
  font-size: 1.4rem;
  padding: 15px;
  line-height: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--RHS--BD--Cl);
}

.list--controller > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 3rem;
  list-style-type: disc;
  padding-left: 1.5rem;
}

.Gauges--wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.Skills--heading {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-bottom: 10px;
  gap: 6px;
}

.Gauges--controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 58px;
  background: var(--menu-bg);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--RHS--BD--Cl);
}

.C--gauge,
.Java--gauge,
.python--gauge {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}
.skill--content {
  align-items: center;
}

.about--me--card {
  flex: 3;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: 0.10s ease-in-out;
}

.about--me--description {
  margin-top: 20px;
}

.heading-description--controller {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  max-width: 100%;
  font-size: 1.4rem;
  padding-bottom: 30px;
  text-align: center;

  @media (max-width: 768px) {
    padding-top: 6px;
    gap: 6px;
    & > p {
      font-size: 1.4rem;
    }
  }
  
}

.Education--tittle--and--card{
  @media (max-width: 768px) {
    max-width: 100%;
  } 
}

.education-and-experience {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 10px;
  width: fit-content;
  padding-left: 10px;
}

.content {
  padding-left: 18px;
}

.education--card--controler {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--menu-bg);
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  width: 430px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--RHS--BD--Cl);
}

.Education--title {
  display: flex;
  gap: 6px;
  padding-bottom: 10px;
}

.edication--icon {
  font-size: 2rem;
}

.Education--content {
  padding-left: 17.5px;
}

.Matric--controler {
  padding-bottom: 90px;
}

.Soft--controller {
  padding-bottom: 90px;
}

.AI--controller {
  padding-bottom: 40px;
}

.experience--card--controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--menu-bg);
  padding: 18px;
  border-radius: 20px;
  flex: 1;
  width: 610px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--RHS--BD--Cl);
}

.circle {
  width: 17px;
  height: 17px;
  background-color: #0D47A1;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 16px;
}

.company--name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.experience--title {
  display: flex;
  gap: 6px;
  padding-bottom: 10px;
}

.experience--icon {
  font-size: 2rem;
}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
  .info--Controller {
    flex-direction: column;
    gap: 20px;
  }

  .cards--info {
    flex-direction: row;
    gap: 20px;
    padding: 2px;
    align-items: center;
  }

  .Gauges--controller {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .education-and-experience {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .AboutMe--Page--tittle {
    padding: 10px;
  }

  .about--me--card {
    padding: 5px;
  }

  .description--controller {
    font-size: 1.0em;
  }

  .button--controller {
    margin-top: 15px;
  }

  .circle {
    width: 8px;
    height: 8px;
    margin-right: 5px;
  }

  .info--Controller {
    flex-direction: column;
    align-items: center;
  }

  .certificate--controller {
    & > p{
      font-size: 1.2rem;
    }
  }
  
  .github--controller{
    & > a {
      font-size: 1.0rem;
    }
  }

  .country--controller{
    & > p {
      font-size: 1.2rem;
    }

  .availability--controller{
    & > p {
      font-size: 1.2rem;
    }
  }

  .cards--and--button--controler {
    margin-bottom: 8px;
  }

  .cards--info {
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 20px;
  }

  .Gauges--controller {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .education-and-experience {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .AboutMe--Page--tittle {
    padding: 10px;
  }

  .about--me--card {
    padding: 5px;
  }

  .description--controller {
    font-size: 1.09em;
  }

  .certificate--controller {
    & > p{
      font-size: 1.2rem;
    }
  }

  .country--controller {
    & > p {
      font-size: 1.2rem;
    }
  }

  .cards--and--button--controler {
    margin-bottom: 8px;
  }

  .availability--controller{
    & > p {
      font-size: 1.2rem;
    }
  }
  
  .github--controller{
    & > a {
      font-size: 1.0rem;
    }
  }

  .button--controller {
    margin-top: 15px;
  }

  .circle {
    width: 8px;
    height: 8px;
    margin-right: 5px;
  }

  .info--Controller {
    flex-direction: column;
    align-items: center;
  }

  .cards--info {
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 50px;
  }

  .Gauges--controller {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .education-and-experience {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .education--card--controler,
  .experience--card--controller {
    width: 100%;
    /* padding: 2px; */
  }
}
}

.Gauges--wrapper {
  animation-duration: 1.10s;
  animation-name: slide-in-right;
}

@keyframes slide-in-right {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.cards--info {
  animation-duration: 1.10s;
  animation-name: slide-in-left;
}

@keyframes slide-in-left {
  from {
    translate: -150vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}


.Expience--title--and--controler {
  animation-duration: 1s;
  animation-name: slide-in-right;
}

@keyframes slide-in-right {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.Education--tittle--and--card {
  animation-duration: 1s;
  animation-name: slide-in-left;
}

@keyframes slide-in-left {
  from {
    translate: -150vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
