.main--profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile--container {
  margin-bottom: 20px;
  text-align: center;
}

.profile--image {
  margin-bottom: 20px;
}

.image {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  margin: auto;
}

.profile--name {
  color: #526d82;
  margin-top: 10px;
}

.icons{
  display: flex;
  justify-content: center;
  gap: 10%;
  font-size: 2rem;
  padding-top: 20px;
  transition: 0.10s ease-in-out;
}