/* Cards container */
.skills--page--tittle {
    color: var(--icons-cl);
}

.skills--container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.skills {
    flex: 3;
    flex: calc(33.333% - 20px);
    background: var(--menu-bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.10s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 8px solid var(--RHS--BD--Cl)
}

.skills:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.skills--cover {
    background: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    color: var(--Skills--icons-cl);
}

.skills--title {
    background: var(--Hover--state);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem;
    color: var(--Hover--text);
    border-radius: 10px;
}

.skills--description {
    position: relative;
    font-size: 14px;
    color: var(--);
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.skills--description::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    margin-left: -50%;
    /* border-left: 10px solid transparent; */
    /* border-right: 10px solid transparent; */
    border-top: 10px solid #C5CAE9;
    transform: translateX(-50%);
}
