.button--wraper{
  display: flex;
  flex-direction: row;
  padding: 12px;
  bottom: 0;
}

.lighter{
  border: 10px solid;
  border-radius: 22px;
  color: white;
}

.darker{
  border: 10px solid;
  border-radius: 22px;
  color: #5C5C5C;
}

.pinker{
  border: 10px solid;
  border-radius: 22px;
  color: pink;
}

.purpler{
  border: 10px solid;
  border-radius: 22px;
  color: purple;
}

.timeline-content{
  font-size: 1.2rem;
  /* & > ul {
    font-size: 1.4rem;
  } */
}



@media (max-width: 768px) {
  .button--wraper{
    flex-direction: column;
  }
}