.contact-container {
  width: 70%;
  margin: 0 auto;
  padding: 16px;
  color: #526d82;
  min-width: 320;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
}

.contact-me h4{
  font-size: 1.7rem;
  margin-bottom: 4px;
  top: 0;
  left: 0;
}

.contact-header h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  margin-top: 50px;
  align-items: center;

}

.contact-header p {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    }
}

.input-field {
  padding: 18px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #C5CAE9;
  border-radius: 5px;
  font-size: 1.6rem;

  @media (max-width: 768px) {
    border-radius: 5px;
    font-size: 1rem;
    }
}

.input-field.full-width {
  width: 100%;
}

.textarea-field {
  padding: 15px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #C5CAE9;
  border-radius: 5px;
  font-size: 1rem;
  min-height: 300px;
  resize: vertical;

  @media (min-width: 768px) {
    max-height: 100px;
    resize: vertical;
    }
}

.textarea-field::placeholder {
  font-size: 1.6rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    }
}

.submit-button {
  padding: 12px 8px;
  background-color: #526d82;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    font-size: 1rem;
    }
}

.submit-button:hover {
  background-color: #0f2c42;
  transform: scale(1.02);
}
