.menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 200px;
    background: #C5CAE9;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.menu.collapsed {
    width: 59px;
    padding: 10px;
    height: 100%;
}


.menu.expanded {
    width: 200px;
    padding: 20px;
    height: 100%;
    z-index: 2;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 20px;
}

.logo {
    text-align: center;
    padding: 2px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo .icon-logo {
    font-size: 1.4rem;
}

.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #27374d;
}

.menu--list .item:hover {
    background: #27374d;
    color: #dde6ed;
}

/* Add styles for the active class */
.menu--list .item.active {
    background: #27374d;
    color: #dde6ed;
}

.menu.collapsed .menu--list .item {
    justify-content: center;
    gap: 0;
}

.menu.collapsed .menu--list .item span {
    display: none;
}

.menu.collapsed .logo h2 {
    display: none;
}

.menu.collapsed .logo {
    justify-content: center
}

@media (min-width: 769px) {
    .menu {
        width: 200px !important;
        padding: 20px !important;
    }

    .menu .menu--list .item span {
        display: inline;
    }

    .menu .logo h2 {
        display: block;
    }

    .menu .logo {
        justify-content: flex-start;
    }
}
