@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;;
}

body {
    background: #C5CAE9;
    padding: 5px;
    overflow-x: hidden;
}

html {
    font-size: 12px;
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 8px;
    }
}
