@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-family: Quicksand;;
}

body {
    background: #C5CAE9;
    padding: 5px; /* Further decrease padding for better space utilization */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Adjust font size for better readability */
html {
    font-size: 12px; /* Further decrease base font size */
}

/* Add additional styles for responsiveness */
@media (max-width: 768px) {
    html {
        font-size: 10px; /* Decrease base font size for smaller screens */
    }
}

@media (max-width: 480px) {
    html {
        font-size: 8px; /* Further decrease base font size for even smaller screens */
    }
}
